//
   Created with JetBrains WebStorm.
   User: dave
   Date: 5/06/13
   Time: 6:09 PM
   To change this template use File | Settings | File Templates.

extends layout

block title

    h1= title

block content

    script.
      $(document).ready(function() {
        $(".active").removeClass("active");
        $("#add").addClass("active");
      });

    div.span12
        h3 Record has been added

        table.table.table-bordered.table-striped
                tr
                    th Last Name
                    th First Name
                    th Home Phone
                    th Mobile
                    th Email
                    th Address

                tr
                    td #{row.lastname}
                    td #{row.firstname}
                    td #{row.homephone}
                    td #{row.mobile}
                    td #{row.email}
                    td #{row.address}