//
   Created with JetBrains WebStorm.
   User: dave
   Date: 5/06/13
   Time: 6:09 PM
   To change this template use File | Settings | File Templates.

extends layout

block content

    div.span12
        h3 Post has been added

        table.table
            tr
                td

                    div#title #{row.heading}
                    br

                    div#author #{row.author}

                    div#date #{row.date.toDateString()}
                    br

                    div#body #{row.body}
                    br

                    div#image
                    img(src=row.image)
                    br
