//
   Created with JetBrains WebStorm.
   User: dave
   Date: 26/05/13
   Time: 9:30 PM
   To change this template use File | Settings | File Templates.

extends layout

block content

  div.row-fluid
    div.span12
        table.table.table-bordered.table-striped

            tr
                th Last Name
                th First Name
                th Home Phone
                th Mobile
                th Email
                th Address
                th.muted Del

            each row in people
                tr(id="#{row._id}")
                    td #{row.lastname}
                    td #{row.firstname}
                    td #{row.homephone}
                    td #{row.mobile}
                    td #{row.email}
                    td #{row.address}
                    td
                        a.close(onclick='$.ajax({url:"/people/#{row._id}",type:"DELETE", success: function() { $("##{row._id}").remove(); }})')&times;


        button.btn(onclick='$.getJSON("/people", function(result) { $(body).html(JSON.stringify(result)); })') JSONTest