//
   Created with JetBrains WebStorm.
   User: dave
   Date: 11/06/13
   Time: 5:33 PM
   To change this template use File | Settings | File Templates.

extends layout

block content

    div.span6.hero-unit
        h4 Please upadte the details of a the person
        form(method="post") //NOTE: The _id of the row is still included in the URL as .../update/:_id
            .span2 First Name:
            input(type="text", name="firstname", value="#{row.firstname}", required)
            .span2 Last Name:
            input(type="text", name="lastname", value="#{row.lastname}")
            .span2 Email:
            input(type="email", name="email", value="#{row.email}", required)
            .span2 Home Phone:
            input(type="text", name="homephone", value="#{row.homephone}")
            .span2 Mobile:
            input(type="text", name="mobile", value="#{row.mobile}", required)
            .span2 Address:
            input(type="text", name="address", value="#{row.address}")
            div.row
                div.span1
                div.span2
                    input.btn.btn-danger(type="reset", value='Reset')
                div.span2
                    input.btn.btn-success(type="submit", value='Update')